@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {
    .fullscreen_container-responsive {
        height: auto;
        padding-bottom: 200px;
    }

    .my_hobbies-item-picture_bg {
        height: 208px;
    }

    .projects-image_container {
        height: 208px;
    }
}

@media only screen and (max-width: 767px) {
    .my_hobbies-item-picture_bg {
        height: 148px;
    }

    .projects-image_container {
        height: 148px;
    }
}

@media only screen and (max-width: 575px) {
    .fullscreen_container h1 {
        font-size: 35px;
    }

    .fullscreen_container h2 {
        font-size: 32px;
    }

    .fullscreen_container h3 {
        font-size: 30px;
    }

    .header-container {
        display: block;
        text-align: center;
    }

    .my_hobbies-item {
        height: 200px;
    }

    #this_is_me-photo {
        height: 400px;
        margin-bottom: 30px;
    }
}